body{
    background-color: beige;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    color: blueviolet
}

p {
    display: flex;
    color: blue;
    font-size: 20px;
    justify-content: center;
}

.original-container{
    border: dotted 5px gray;
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.copies{
    border: solid 2px;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

button {
    color: green;
    font-size: 25px;
}